Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
numerize==0.12
numpy==1.23.5
oauthlib==3.2.2
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==23.1
pandas==2.0.1
pandas-profiling==3.2.0
streamlit==1.22.0
streamlit-apexjs==0.0.3
streamlit-card==0.0.4
streamlit-elements==0.1.0
streamlit-option-menu==0.3.2
streamlit-pandas-profiling==0.1.3
plotly==5.14.1
plotly-express==0.4.1
scikit-learn==1.2.2
seaborn==0.12.2
pandas-profiling==3.2.0
scikit-learn==1.2.2
scipy==1.11.3
seaborn==0.12.2
streamlit-extras==0.2.7
streamlit-card==0.0.4
decorator==5.1.1
deprecation==2.1.0
numerize==0.12
numpy==1.23.5
oauthlib==3.2.2
openpyxl==3.1.2



Markdown==3.6
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupPy==1.14
MarkupSafe==2.1.5
matplotlib==3.8.3
mdurl==0.1.2
more-itertools==10.2.0
murmurhash==1.0.10
nest-asyncio==1.6.0
numerize==0.12
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
odfpy==1.4.1
opencv-python==4.10.0.84
openpyxl==3.1.2
packaging==24.0
pandas==2.2.1
pillow==10.2.0
plotly==5.20.0
preshed==3.0.9
prometheus_client==0.20.0
promise==2.3
prompt-toolkit==2.0.9
protobuf==3.20.3
psutil==5.9.8
pyarrow==15.0.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==2.6.4
pydantic_core==2.16.3
pydeck==0.8.1b0
Pygments==2.17.2
PyJWT==2.8.0
pymdown-extensions==10.8.1
Pympler==1.0.1
PyMuPDF==1.24.7
PyMuPDFb==1.24.6
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-nvd3==0.14.2
python-slugify==8.0.4
python3-openid==3.2.0
pytz==2024.1
PyYAML==6.0.1
ratelim==0.1.6
referencing==0.34.0
regex==2023.12.25
requests==2.31.0
requests-oauthlib==2.0.0
retrying==1.3.4
rich==13.7.1
rpds-py==0.18.0
rsa==4.9
Rx==1.6.3
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
setuptools==70.1.1
sgmllib3k==1.0.0
shellingham==1.5.4
six==1.16.0
smart-open==7.0.4
smmap==5.0.1
social-auth-core==4.5.3
soupsieve==2.5
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==1.4.52
sqlparse==0.4.4
srsly==2.4.8
st-annotated-text==4.0.1
streamlit==1.22.0
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-elements==0.1.0
streamlit-embedcode==0.1.2
streamlit-extras==0.4.2
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.4
streamlit-option-menu==0.3.12
streamlit-pills==0.3.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
tablib==3.5.0
tenacity==8.2.3
text-unidecode==1.3
thinc==8.2.5
threadpoolctl==3.4.0
toml==0.10.2
toolz==0.12.1
tornado==6.4
tqdm==4.66.4
typer==0.12.3
typing_extensions==4.10.0
tzdata==2024.1
tzlocal==5.2
ua-parser==0.18.0
Unidecode==1.3.8
uritemplate==4.1.1
urllib3==2.2.1
user-agents==2.2.0
validators==0.24.0
wasabi==1.1.3
watchdog==4.0.0
wcwidth==0.2.13
weasel==0.4.1
Werkzeug==3.0.1
wheel==0.43.0
wrapt==1.16.0
xlrd==2.0.1
XlsxWriter==3.2.0
xlwt==1.3.0
zipp==3.18.1

 
